<!DOCTYPE html>
<html>
  <head>
    <title>EzQueue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="css/application.css"> -->
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <%= yield %>
    <div class="primary-content">
         <%= link_to "Create", createroom_path, class: "button"%>
        <button onclick="window.location.href='../join.html'" class="button">Join</button>
        <button onclick = "window.location.href='../help.html'" class ="button small-button bottom-corner"> Help </button>

    </div><!-- End .primary-content-->



  </body>
</html>
